<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ZFFramework.Android.ZFFramework_test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ZFFramework_test" >
        <activity
            android:name="com.ZFFramework.Android.ZFFramework_test.Loader"
            android:label="ZFFramework_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ZFFramework.Android.ZF.ZFMainEntry"
            android:label="ZFFramework"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.ZFFramework.Android.ZFUIKit.ZFUISysWindow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ZFFramework"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>

</manifest>

